
*.ilk
*.pdb
*.ipch
*.tlog
*.pch
*.log
*.lastbuildstate
*.idb
*.obj
*.opensdf
*.sdf
*.suo
/.vs/
/Algebra/**/
/NumericalMethod/**/
/Program/**/
/Debug-MDd/
/Debug-MTd/
/Release-MD/
/Release-MT/
/x64/**/
/vc16/.vs/
/vc16/Algebra/**/
/vc16/NumericalMethod/**/
/vc16/Program/**/
/vc16/Debug-MDd/
/vc16/Debug-MTd/
/vc16/Release-MD/
/vc16/Release-MT/
/vc16/x64/**/